* {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #333333;
    line-height: 1.4;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5% 20% 0 20%;
    gap: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

#content {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h3 {
    font-size: 22px;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 4px;

}

footer {
    margin: 100px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #837ce5
}