* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair", serif;
  font-size: 20px;
  color: #781517;
}

h1 {
  font-weight: 300;
  font-size: 60px !important;
  line-height: 80%;
}

h2,
h3,
h4,
.stack,
.find-out {
  font-family: "Rethink Sans", sans-serif;
  font-weight: 300;
  font-size: 20px !important;
  text-transform: uppercase;
}

h2,
h4,
.find-out {
  font-weight: 300;
  color: #c97977;
}

p {
  line-height: 1.6;
  font-weight: 500;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  background-color: #fffdf7;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 180px;
}

header img {
  width: 60%;
  min-height: initial;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#social-icons {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

#content {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 40px 0;
}

.section-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 0;
}

#about-me {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#my-journey {
  padding: 0 80px;
}

.stack {
  margin: 20px;
  align-self: center;
  text-align: center;
}

#friends {
  background-color: #781517;
  padding: 60px 0;
  align-items: center;
}
#friends .section-text {
  text-align: center;
  width: 60%;
}

#friends .section-text p {
  color: #fffdf7 !important;
}
#what-is-next {
  align-self: center;
  width: 60%;
}

#copy-email {
  font-family: "Rethink Sans", sans-serif;
  text-transform: lowercase;
}

#copy-email:hover {
  cursor: pointer;
}

#contact-me {
  display: flex;
  align-items: center;
}

footer {
  margin: 100px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: underline;
  color: #781517;
}

@keyframes slide-in-out {
  0% {
    right: -220px;
  }

  25% {
    right: 0px;
  }

  75% {
    right: 0px;
  }

  100% {
    right: -220px;
  }
}

.notification {
  font-size: 14px;
  text-align: center;
  font-family: "Rethink Sans", sans-serif;
  width: 220px;

  position: fixed;
  z-index: 1;
  top: 50px;
  right: -220px;
  background-color: #3c090a;
  color: white;
  padding: 8px;
  border-radius: 6px 0px 0px 6px;

  animation-name: slide-in-out;
  animation-duration: 4s;
}

@media only screen and (max-width: 1200px) {
  body {
    padding: 50px 0;
  }
  h1 {
    font-size: 54px !important;
  }

  header {
    flex-direction: column;
    padding: 0 50px;
  }
  header img {
    align-self: center;
    width: 88%;
  }
  #my-journey {
    padding: 0 50px;
  }
  #friends .section-text {
    width: 70%;
  }
  #what-is-next {
    align-self: center;
    width: 70%;
  }
}
